%h1 LamaZone

#bestBooksCarousel.carousel.slide
  %ol{:class => "carousel-indicators"}
    %li.active{"data-target" => "#bestBooksCarousel", "data-slide-to" => "0"}
    %li{"data-target" => "#bestBooksCarousel", "data-slide-to" => "1"}
    %li{"data-target" => "#bestBooksCarousel", "data-slide-to" => "2"}
  
  .carousel-inner
    .active.item
      = render partial: "book", locals: { book: @books.first }
    = render partial: "carousel_item", collection: @books.drop(1)

  %a.carousel-control.left{:href => "#bestBooksCarousel", "data-slide" => "prev"}
    %span{class: "glyphicon glyphicon-chevron-left", "aria-hidden" => "true"}
  %a.carousel-control.right{:href => "#bestBooksCarousel", "data-slide" => "next"} 
    %span{class: "glyphicon glyphicon-chevron-right", "aria-hidden" => "true"}
