- messages = resource.errors.messages
- if messages && messages[sym]
  .has-error
    = render 'email_password_field', f: f, resource: resource, sym: sym, 
      placeholder: placeholder
    %span.help-block
      = "#{messages[sym].uniq.join(', ')}"
    %br/
- else
  %div
    = render 'email_password_field', f: f, resource: resource, sym: sym, 
      placeholder: placeholder
    %br/