- if item == :email
  = f.email_field item, placeholder: t("sign_in_page.#{item.to_s}"), 
    class: 'form-control'
- else
  = f.password_field item, placeholder: t("sign_in_page.#{item.to_s}"), 
    class: 'form-control'