.field
  - if sym == :phone
    = f.text_field sym, placeholder: t("addresses.#{sym.to_s}"), 
    class: "form-control phone"
  - else
    = f.text_field sym, placeholder: t("addresses.#{sym.to_s}"), 
      class: "form-control"
%br/