%p
  %strong Firstname:
  = @author.firstname

%p
  %strong Lastname:
  = @author.lastname

%p
  %strong Biography:
  = @author.biography

= link_to 'BACK TO SHOPPING', books_path, class: "btn btn-warning"
