- if rating.state == 'approved'
  %tr.active
    %td.small
      .rating
        - for i in 1..10
          - if rating.rate == i
            = checked_rating_input(i, rating.rate).html_safe
          - else
            = unchecked_rating_input(i, rating.rate).html_safe
    %td.small.col-righted
      = rating.decorate.author_and_date
  %tr
    %td{colspan: '2'}
      = rating.review.to_s
  %tr
    %td